// the unicode range is limited to french and english languages (see expert mode font generation on fontsquirrel.com)

@font-face
  font-family 'Montserrat_ultraLight'
  src url('/fonts/montserrat-ultralight.woff2') format('woff2'),
         url('/fonts/montserrat-ultralight.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Montserrat_semiBold'
  src url('/fonts/montserrat-semibold.woff2') format('woff2'),
         url('/fonts/montserrat-semibold.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Montserrat_regular'
  src url('/fonts/montserrat-regular.woff2') format('woff2'),
         url('/fonts/montserrat-regular.woff') format('woff')
  font-weight normal
  font-style normal
